



body {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    background: white;
}


/*Header style start*/

.header {
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
}

h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;             
}



.wrapper {
    max-width: 860px;
    margin: 0 auto;
    
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    height: 130px;
    background-color: rgb(64, 123, 189);
    border-radius: 20px 20px 0px 0px;
    }

.header__logo {
    margin-left: 30px;
    margin-bottom: 25px;
}

.places__card-pic {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    margin-bottom: 25px;
}


/*Header style end*/





/*Главная страница START*/


.wrapper_main {

    overflow: auto;
    max-width: 860px;
    max-height: 500px;
    margin: 0 auto;
    border: 1px solid rgb(181, 175, 175)
    
}


.intro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 181px;
    height: 150vh;
    background-size: cover;
    
}

.info_reminder{
    padding-left: 30px;
}

.wrapper_info_reminder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.wrapper_link_info{
    padding-bottom: 45px;
    padding-right: 40px;
    position: absolute;
    right: 0;
}


/*Главная страница END*/




/*Бургер меню на главной странице START*/


.todo-list__actions {
    display: none;
    position: relative;
}

.todo-list__actions--visible {
    padding-top: 5px;
    display: block;
    position: absolute;
}

.todo-list__actions li {
    list-style-type: none;
}




/*Бургер меню на главной странице START*/








/*Форма добавления уведомления START*/

#popup-1 {
	display: none;
	background-color: rgba(0,0,0,0.5);
	position: relative;
	height: 100vh;
	width: 100%;
    
}


.search-form__info {
    display: flex;
    flex-wrap: wrap;
}


.search-form__field {

    width: 297px; 
    border: 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    
}


.add_title_redminer {
    color: rgb(97, 97, 97);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}


/* .add_datetime_link{
    display: flex;
    flex-wrap: wrap;
} */


.redminer_add_date {
    width: 70px;
    
    border: 0ch;
    color: rgb(12, 95, 53);

}


.redminer_cancel {
    font-style: normal;
    text-decoration: none;
    border: 0.05rem solid;
    border-color: black;
    color: rgb(12, 95, 53);
    font-size: 18px;
    border-radius: 10%;
    padding: 3px 9px 1px 5px;
    background-color: rgb(243, 240, 240);
    float: right;

}

.redminer_add {
    font-style: normal;
    margin-right: 20px;
    padding-top: 5px;
    width: 70px;
    float: right;
    text-decoration: none;
    color: rgb(12, 95, 53);

}


.popup-content {
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    margin-left: 550px;
    height: 220px;
	padding: 20px;
	margin-top: 300px;
	background-color: white;
	width: 300px;
	top: 5vh;
    z-index: 1;
}


/*Форма добавления уведомления END*/





