<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reminder</title>
    <link type="text/css" href="{% static 'reminder/css/main.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://snipp.ru/cdn/jqueryui/1.12.1/jquery-ui.min.css">
    
</head>


<body>

    <!--Popap start / Форма добавления нового уведомления-->
 
    <div id="popup-1">

        <div class="popup-content">

            <form action="" method="post">

                {% csrf_token %}
                {{ form.as_p }}
                <a href="" id="close-popup-1" class="redminer_cancel" value="Cancel">
                    Cancel
                </a>
                <button type="submit" class="redminer_add">ADD</button>

            </form>
    
        </div>
        
    </div>

    <!--Popap end / Форма добавления нового уведомления-->





    <!--Header start-->
    <header class="header">

        <div class="wrapper">

            <div class="header__wrapper">
                
                <div class="header__logo">
                    <h1>Reminders</h1>
                </div>

                <div class="header__add">
                    <a href="#!" id="open-popup-1" class="header__link"> 
                        <img src="static/reminder/img/circle1.svg" alt="add entry" class="places__card-pic">
                    </a>
                </div>

            </div>

        </div>

    </header>
    <!--Header end-->



    <!--Главная страница START-->

    <main class="main">
        <section class="intro" id="sign-in">
            <div class="wrapper_main">
                {% block content %}

                    {% for i in notifications %}

                    <div class="wrapper_info_reminder">

                        <div class="info_reminder">        
                            <h2>{{i.text_reminder}}</h2>
                            <p>{{i.date_notification}} {{i.time_notification}}</p>
                        </div>
                        
                        <div class="wrapper_link_info">

                            <button type="submit" data-id="{{ i.id }}" class="todo-list__burger-item">
                                <img class="arrow_add_remove_reminder" src="static/reminder/img/arrow.svg" alt="arrow">
                            </button>


                            <nav id="todo-list__action_{{ i.id }}" class="todo-list__actions">
                                
                                <!-- Изменение уведомления через pop-up (тест, мучения, надежда)-->
                                <button id="open-popup-1" data-text_reminder="{{i.text_reminder}}" data-user_mail="{{i.user_mail}}" data-date_notification="{{i.date_notification}}" data-time_notification="{{i.time_notification}}" data-id="{{ i.id }}" class="action_edit" value="{{ i.id }}" name="Edit">Edit</button>

                                <!-- Изменение уведомления через отдельную страничку (готово) -->
                                <!-- <a href="" data-id="{{ i.id }}" class="action_edit" value="{{ i.id }}" name="Edit">Edit</a> --> 

                                <form action="{% url 'delete_reminder' i.id %}" method="DELETE">
                                    {% csrf_token %}
                                    <!-- <button data-id="{{ i.id }}" value="{{ i.id }}" name="Remove" class="action">Remove</button> -->
                                    <button type="submit" class="action">Remove</button>
                                </form>
                                    
                            </nav>  
                                
                        </div>

                    </div>
                    <hr color="black" size="small">

                    {% endfor %}

                {% endblock %}
            </div>
        </section>
    </main>

    <!--Главная страница END-->






    <!--Подключение скрипта календаря START-->
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!--Подключение скрипта календаря END-->




    <!--ПОДКЛЮЧЕНИЕ СКРИПТА ВРЕМЕНИ START-->
    <script src="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <link rel="stylesheet" href="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css"></link>
    <!--ПОДКЛЮЧЕНИЕ СКРИПТА ВРЕМЕНИ END-->



    <script type="text/javascript" src="{% static 'reminder/js/app.js' %}"></script>


</body>
</html>